:root {
    --header-and-footer-bg: #1c1110;
    --drop-down: #4d2c11cf;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assests/bulb.jpg");
}

#root {
    background-color: #0000007a;
}

.App {
    display: flex;
    color: white;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
}