footer {
    z-index: 1;
    color: #eee;
    padding: 10px;
    margin-top: auto;
    text-align: center;
    background-color: #222;
    border-top: 2px solid #909cff;
}

footer>i {
    color: white;
    font-size: 20px;
}

footer>small {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}